<h1>All pets</h1>

<%= link_to 'Found Pet', new_pet_path, class: 'btn btn-info btn-lg btn-block my-3' %>

<div class="row">
<% @pets.each do |pet| %>
<div class="col-4">
  <div class="card my-3">
    <div class="card-body">
      <h5 class="card-title"><%= pet.name %></h5>
      <p class="card-text"><%= pet.address %> - found on <%= pet.found_on %></p>
      <%= link_to 'View', pet_path(pet), class: 'btn btn-primary' %>
    </div>
  </div>
</div>
<% end %>   
</div>


